<section class="modal-window" id="Modal-response">
    <div class="container">

        <div class="res-window">
            <button data-close class="btn-close-res">Close</button>  
            <p class="res-title"> 
                Thank you for your interest in cooperation!
            </p>
            <p class="res-mess"> 
                The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.
            </p>
            
        </div>
    </div>
</section>