<section id="projects" class="projects">
  <div class="left">
    <div class="tags">
      <a href="" target="_blank">#react</a>
      <a href="" target="_blank">#js</a>
      <a href="" target="_blank">#node js</a>
      <a href="" target="_blank">#git</a>
    </div>
    <h1 class="header">
      Programming Across Borders: Ideas, Technologies, Innovations
    </h1>
    <button class="btn">See project</button>
  </div>
  <div class="right">
    <img
      src="/src/img/projects/book-app-project.webp"
      alt="book-app-project"
      width="614"
      height="385"
    />
  </div>
  <svg class="icon-arrow" width="32" height="32">
    <use href="src/img/icons.svg#icon-arrow-leftsvg"></use>
  </svg>
</section>
