.projects-title {
  color: #fafafa66;
}

.projects-swiper {
  margin-top: 32px;
}

.project {
  border-radius: 24px;
  overflow: hidden;
}

.project-left {
  padding: 32px;
  background-color: var(--main-text);
}

.project-tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.project-tag {
  border-radius: 60px;
  border: 1px solid #1c1d2033;
  padding: 13px 18px;
  color: var(--background);
}

.project-title {
  margin-top: 96px;
  line-height: 1.17;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-transform: none;
  color: #1c1d20;
}

.project-link {
  display: block;
  margin-top: 32px;
  border-radius: 60px;
  padding: 13px 32px;
  width: fit-content;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--main-text);
  background-color: var(--button-text);
}

.project-right {
  padding: 100px 16px;
  background-color: var(--cards);
}

.projects-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
  text-align: center;
}

.projects-button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fafafa80;
  width: 52px;
  height: 52px;
  background-color: transparent;
  transition: border-color 250ms linear;
}

.projects-button:hover,
.projects-button:focus {
  border-color: var(--main-text);
}

.projects-button-icon {
  display: block;
  width: 24px;
  height: 24px;
  stroke: var(--main-text);
  fill: none;
}

.projects .swiper-button-disabled {
  border-color: #fafafa33;
  stroke: #fafafa33;
}

.projects .swiper-button-disabled svg {
  stroke: #fafafa33;
}

@media (min-width: 768px) {
  .project-title {
    margin-top: 164px;
    line-height: 1;
    font-size: 44px;
  }

  .project-link {
    padding: 18px 50px;
  }

  .project-right {
    padding: 120px 45px;
  }

  .projects-button {
    width: 68px;
    height: 68px;
  }

  .projects-button-icon {
    width: 32px;
    height: 32px;
  }

  .projects-buttons {
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .project.swiper-slide {
    display: flex;
  }

  .project-left {
    flex-basis: 50%;
    padding: 64px;
  }

  .project-title {
    width: 494px;
  }

  .project-right {
    flex-basis: 50%;
  }

  .project-title {
    margin-top: 223px;
  }
}
